<section class="benefits">
    <div class="benefits-container container">
        <svg>
            <use></use>
        </svg>
            <h2 class="benefits-title"></h2>
            <ul class="benefits-list">
                <li class="benefits-item">
                    <img class="benefits-img" src="" alt="Easy to Learn" width="80" height="80">
                    <div class="benefits-text-wrapper">
                        <p class="benefits-text">Easy to Learn</p>
                    </div>
                </li>
                <li class="benefits-item">
                    <img class="benefits-img" src="" alt="Visually Relaxing" width="80" height="80" >
                    <div class="benefits-text-wrapper">
                        <p class="benefits-text">Visually Relaxing</p>
                    </div>
                </li>
                <li class="benefits-item">
                    <img class="benefits-img" src="" alt="Short Gameplay Sessions" width="80" height="80">
                    <div class="benefits-text-wrapper">
                        <p class="benefits-text">Short Gameplay Sessions</p>
                    </lass=>
                </li>
                <li class="benefits-item">
                    <img class="benefits-img" src="" alt="Consistent Rewards" width="80" height="80">
                     <div class="benefits-text-wrapper">
                        <p class="benefits-text">Consistent Rewards</p>
                    </div>
                </li>
                <li class="benefits-item">
                    <img class="benefits-img" src="" alt="Magical Atmosphere" width="80" height="80">
                     <div class="benefits-text-wrapper">
                        <p class="benefits-text">Magical Atmosphere</p>
                    </div>
                </li>
            </ul>
        </div>
</section>