<section class="benefits">
    <div class="benefits-container container">
    <svg class="icon" width="13" height="9">
        <use href="/img/sprite.svg#icon-diamond"></use>
    </svg>
            <h2 class="benefits-title">Advantages</h2>
            <ul class="benefits-list">
                <li class="benefits-item">
            <picture class="benefit-image-wrapper">
            <source media="(min-width: 1440px)" srcset="/img/benefits/benefit_1-mob.jpg 1x, 
              /img/benefits/benefit_1-mob@2x.jpg  2x" >
            <img class="benefits-img" src="/img/benefits/benefit_1.jpg" 
            srcset="/img/benefits/benefit_1.jpg 1x,
              /img/benefits/benefit_1@2x.jpg 2x" alt="Easy to Learn"  width="80" height="80">
        </picture>
                    <div class="benefits-text-wrapper text-wrapper">
                        <p class="benefits-text">Easy to Learn</p>
                    </div>
                </li>
                <li class="benefits-item">
            <picture class="benefit-image-wrapper">
                <source media="(min-width: 1440px)" srcset="/img/benefits/benefit_2-mob.jpg 1x, 
                          /img/benefits/benefit_2-mob@2x.jpg  2x">
                <img class="benefits-img" src="/img/benefits/benefit_2.jpg" srcset="/img/benefits/benefit_2.jpg 1x,
                          /img/benefits/benefit_2@2x.jpg 2x" alt="Visually Relaxing" width="80" height="80">
            </picture>
                    <div class="benefits-text-wrapper text-wrapper">
                        <p class="benefits-text">Visually Relaxing</p>
                    </div>
                </li>
                <li class="benefits-item">
            <picture class="benefit-image-wrapper">
                <source media="(min-width: 1440px)" srcset="/img/benefits/benefit_3-mob.jpg 1x, 
                          /img/benefits/benefit_3-mob@2x.jpg  2x">
                <img class="benefits-img" src="/img/benefits/benefit_3.jpg" srcset="/img/benefits/benefit_3.jpg 1x,
                          /img/benefits/benefit_3@2x.jpg 2x" alt="Short Gameplay Sessions" width="80" height="80">
            </picture>
                    <div class="benefits-text-wrapper text-wrapper">
                        <p class="benefits-text">Short Gameplay Sessions</p>
                    </lass=>
                </li>
                <li class="benefits-item">
            <picture class="benefit-image-wrapper">
                <source media="(min-width: 1440px)" srcset="/img/benefits/benefit_4-mob.jpg 1x, 
                          /img/benefits/benefit_4-mob@2x.jpg  2x">
                <img class="benefits-img" src="/img/benefits/benefit_4.jpg" srcset="/img/benefits/benefit_4.jpg 1x,
                          /img/benefits/benefit_4@2x.jpg 2x" alt="Consistent Rewards" width="80" height="80">
            </picture>
                     <div class="benefits-text-wrapper text-wrapper">
                        <p class="benefits-text">Consistent Rewards</p>
                    </div>
                </li>
                <li class="benefits-item">
            <picture class="benefit-image-wrapper">
                <source media="(min-width: 1440px)" srcset="/img/benefits/benefit_5-mob.jpg 1x, 
                          /img/benefits/benefit_5-mob@2x.jpg  2x">
                <img class="benefits-img" src="/img/benefits/benefit_5.jpg" srcset="/img/benefits/benefit_5@.jpg 1x,
                          /img/benefits/benefit_5@2x.jpg  2x" alt="Magical Atmosphere" width="80" height="80">
            </picture>
                     <div class="benefits-text-wrapper text-wrapper">
                        <p class="benefits-text">Magical Atmosphere</p>
                    </div>
                </li>
            </ul>
        </div>
</section>