<section class="reviews" id="reviews">
  <div class="revies-container container">
    <svg class="icon" width="13" height="9">
            <use href="/img/sprite.svg#icon-diamond"></use>
        </svg>
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper reviews-swiper" id="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide review-swiper-slide">
            <div class="review-header">
              <svg class="user-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-user"></use>
              </svg>
              <h3 class="review-name">PuzzleRealm</h3>
            </div>

            <div class="review-stars">
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
            </div>

            <p class="review-text">
              “Relaxing gameplay with really beautiful fantasy visuals.”
            </p>

        </li>

        <li class="swiper-slide review-swiper-slide">
            <div class="review-header">
              <svg class="user-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-user"></use>
              </svg>
              <span class="review-name">Olivia T.</span>
            </div>

            <div class="review-stars">
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star-2"></use></svg>
            </div>

            <p class="review-text">
              “The magical atmosphere makes it feel cozy and fun.”
            </p>

        </li>

        <li class="swiper-slide review-swiper-slide">
            <div class="review-header">
              <svg class="user-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-user"></use>
              </svg>
              <span class="review-name">MatchExplorer</span>
            </div>

            <div class="review-stars">
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
            </div>

            <p class="review-text">
              “Great balance between casual gameplay and challenge.”
            </p>
        </li>

        <li class="swiper-slide review-swiper-slide">
            <div class="review-header">
              <svg class="user-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-user"></use>
              </svg>
              <span class="review-name">Daniel K.</span>
            </div>

            <div class="review-stars">
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star-2"></use></svg>
            </div>

            <p class="review-text">
              “Very satisfying combo animations and smooth controls.”
            </p>
        </li>

        <li class="swiper-slide review-swiper-slide">
            <div class="review-header">
              <svg class="user-icon" width="27" height="27">
                <use href="./img/sprite.svg#icon-user"></use>
              </svg>
              <span class="review-name">FairyPuzzle</span>
            </div>

            <div class="review-stars">
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
              <svg width="13" height="12"><use href="./img/sprite.svg#icon-star"></use></svg>
            </div>

            <p class="review-text">
              “One of the most charming match-3 games I've played.”
            </p>
        </li>
      </ul>
      <div class="swiper-pagination" id="swiper-pagination"></div>
    </div>
  </div>
</section>