<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <!-- Mobile Slider -->
    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_1.jpg"
              srcset="
                ./img/gallery/gallery_1.jpg 1x,
                ./img/gallery/gallery_1@2x.jpg 2x
              "
              alt="Gallery image 1"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_2.jpg"
              srcset="
                ./img/gallery/gallery_2.jpg 1x,
                ./img/gallery/gallery_2@2x.jpg 2x
              "
              alt="Gallery image 2"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_3.jpg"
              srcset="
                ./img/gallery/gallery_3.jpg 1x,
                ./img/gallery/gallery_3@2x.jpg 2x
              "
              alt="Gallery image 3"
              width="245"
              height="200"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery-4.jpg"
              srcset="
                ./img/gallery/gallery-4.jpg 1x,
                ./img/gallery/gallery-4@2x.jpg 2x
              "
              alt="Gallery image 4"
              width="295"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_5.jpg"
              srcset="
                ./img/gallery/gallery_5.jpg 1x,
                ./img/gallery/gallery_5@2x.jpg 2x
              "
              alt="Gallery image 5"
              width="245"
              height="209"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <!-- Desktop Gallery -->
    <ul class="gallery-list">
      <li>
        <img
          src="./img/gallery/gallery_1.jpg"
          srcset="
            ./img/gallery/gallery_1.jpg 1x,
            ./img/gallery/gallery_1@2x.jpg 2x
          "
          alt="Gallery image 1"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_2.jpg"
          srcset="
            ./img/gallery/gallery_2.jpg 1x,
            ./img/gallery/gallery_2@2x.jpg 2x
          "
          alt="Gallery image 2"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_3.jpg"
          srcset="
            ./img/gallery/gallery_3.jpg 1x,
            ./img/gallery/gallery_3@2x.jpg 2x
          "
          alt="Gallery image 3"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_4.jpg"
          srcset="
            ./img/gallery/gallery_4.jpg 1x,
            ./img/gallery/gallery_4@2x.jpg 2x
          "
          alt="Gallery image 4"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_5.jpg"
          srcset="
            ./img/gallery/gallery_5.jpg 1x,
            ./img/gallery/gallery_5@2x.jpg 2x
          "
          alt="Gallery image 5"
        />
      </li>
    </ul>
  </div>
</section>