<section class="gallery" id="gallery">
  <div class="gallery-container container">
    <svg class="icon" width="13" height="9">
            <use href="/img/sprite.svg#icon-diamond"></use>
        </svg>
    <h2 class="gallery-title">Gallery</h2>

    <!-- Mobile Slider -->
    <div class="swiper" id="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_1.jpg"
              srcset="
                ./img/gallery/gallery_1.jpg 1x,
                ./img/gallery/gallery_1@2x.jpg 2x
              "
              alt="Gallery image 1"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_2.jpg"
              srcset="
                ./img/gallery/gallery_2.jpg 1x,
                ./img/gallery/gallery_2@2x.jpg 2x
              "
              alt="Gallery image 2"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_3.jpg"
              srcset="
                ./img/gallery/gallery_3.jpg 1x,
                ./img/gallery/gallery_3@2x.jpg 2x
              "
              alt="Gallery image 3"
              width="245"
              height="200"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_4.jpg"
              srcset="
                ./img/gallery/gallery_4.jpg 1x,
                ./img/gallery/gallery_4@2x.jpg 2x
              "
              alt="Gallery image 4"
              width="295"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_5.jpg"
              srcset="
                ./img/gallery/gallery_5.jpg 1x,
                ./img/gallery/gallery_5@2x.jpg 2x
              "
              alt="Gallery image 5"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_6.jpg"
              srcset="
                ./img/gallery/gallery_6.jpg 1x,
                ./img/gallery/gallery_6@2x.jpg 2x
              "
              alt="Gallery image 6"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_7.jpg"
              srcset="
                ./img/gallery/gallery_7.jpg 1x,
                ./img/gallery/gallery_7@2x.jpg 2x
              "
              alt="Gallery image 7"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_8.jpg"
              srcset="
                ./img/gallery/gallery_8.jpg 1x,
                ./img/gallery/gallery_8@2x.jpg 2x
              "
              alt="Gallery image 8"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_9.jpg"
              srcset="
                ./img/gallery/gallery_9.jpg 1x,
                ./img/gallery/gallery_9@2x.jpg 2x
              "
              alt="Gallery image 9"
              width="245"
              height="209"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <img
              src="./img/gallery/gallery_10.jpg"
              srcset="
                ./img/gallery/gallery_10.jpg 1x,
                ./img/gallery/gallery_10@2x.jpg 2x
              "
              alt="Gallery image 10"
              width="245"
              height="209"
            />
          </picture>
        </div>
              </div>
      <div class="swiper-pagination" id="swiper-pagination"></div>
    </div>

    <!-- Desktop Gallery -->
    <ul class="gallery-list">
      <li>
        <img
          src="./img/gallery/gallery_1.jpg"
          srcset="
            ./img/gallery/gallery_1.jpg 1x,
            ./img/gallery/gallery_1@2x.jpg 2x
          "
          alt="Gallery image 1"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_2.jpg"
          srcset="
            ./img/gallery/gallery_2.jpg 1x,
            ./img/gallery/gallery_2@2x.jpg 2x
          "
          alt="Gallery image 2"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_3.jpg"
          srcset="
            ./img/gallery/gallery_3.jpg 1x,
            ./img/gallery/gallery_3@2x.jpg 2x
          "
          alt="Gallery image 3"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_4.jpg"
          srcset="
            ./img/gallery/gallery_4.jpg 1x,
            ./img/gallery/gallery_4@2x.jpg 2x
          "
          alt="Gallery image 4"
        />
      </li>

      <li>
        <img
          src="./img/gallery/gallery_5.jpg"
          srcset="
            ./img/gallery/gallery_5.jpg 1x,
            ./img/gallery/gallery_5@2x.jpg 2x
          "
          alt="Gallery image 5"
        />
      </li>

       <li>
        <img
          src="./img/gallery/gallery_6.jpg"
          srcset="
            ./img/gallery/gallery_6.jpg 1x,
            ./img/gallery/gallery_6@2x.jpg 2x
          "
          alt="Gallery image 6"
        />
      </li>

       <li>
        <img
          src="./img/gallery/gallery_7.jpg"
          srcset="
            ./img/gallery/gallery_7.jpg 1x,
            ./img/gallery/gallery_7@2x.jpg 2x
          "
          alt="Gallery image 7"
        />
      </li>

       <li>
        <img
          src="./img/gallery/gallery_8.jpg"
          srcset="
            ./img/gallery/gallery_8.jpg 1x,
            ./img/gallery/gallery_8@2x.jpg 2x
          "
          alt="Gallery image 8"
        />
      </li>

       <li>
        <img
          src="./img/gallery/gallery_9.jpg"
          srcset="
            ./img/gallery/gallery_9.jpg 1x,
            ./img/gallery/gallery_9@2x.jpg 2x
          "
          alt="Gallery image 9"
        />
      </li>

       <li>
        <img
          src="./img/gallery/gallery_10.jpg"
          srcset="
            ./img/gallery/gallery_10.jpg 1x,
            ./img/gallery/gallery_10@2x.jpg 2x
          "
          alt="Gallery image 10"
        />
      </li>
    </ul>
  </div>
</section>