<header class="header">
  <div class="header-container container">
    <picture>
      <source srcset="../img 1x, 
      ../img/logo-mob@2x.png 2x"
      media="(max-width: 375px)">
      <img src="../img/logo-desk.png" 
      srcset="../img/logo-desk.png 1x,
      ../img/logo-desk@2x.png 2x"
      alt="Logo">
    </picture>
 <nav class="header-nav">
  <ul class="header-list">
    <li class="header-item">
      <a class="header-link" href="/about">About</a>
    </li>
    <li class="header-item">
      <a class="header-link" href="/how-to-play">How to play</a>
    </li>
    <li class="header-item">
      <a class="header-link" href="/gallery">Gallery</a>
    </li>
    <li class="header-item">
      <a class="header-link" href="/reviews">Reviews</a>
    </li>
    <li class="header-item">
      <a class="header-link" href="contact">Contact</a>
    </li>
  </ul>
 </nav>
  </div>
</header>