<section class="play" id="how-to-play">
    <div class="play-container container">
        <svg class="icon" width="13" height="9">
            <use href="/img/sprite.svg#icon-diamond"></use>
        </svg>
            <h2 class="play-title">How to play</h2>
            <div class="swiper" id="swiper">
                <ul class="swiper-wrapper swiper-play-wrapper">
                    <li class="swiper-slide swiper-play-slide">
                <span class="play-number">1</span>
                    <img class="play-img" src="/img/how-to-play/play_1.jpg" srcset="/img/how-to-play/play_1.jpg 1x,
                    /img/how-to-play/play_1@2x.jpg 2x" alt="Match Colorful Pieces" width="245" height="209">
                <div class="text-wrapper">
                     <p class="swiper-play-text">Match Colorful Pieces</p>
                </div>
                    </li>
                    <li class="swiper-slide swiper-play-slide">
                <span class="play-number">2</span>
                    <img class="play-img" src="/img/how-to-play/play_2.jpg" srcset="/img/how-to-play/play_2.jpg 1x,
                    /img/how-to-play/play_2@2x.jpg 2x" alt="Activate Magical Booster" width="245" height="209">
                        <div class="text-wrapper">
                            <p class="swiper-play-text">Activate Magical Booster</p>
                        </div>
                    </li>
                    <li class="swiper-slide swiper-play-slide">
                <span class="play-number">3</span>
                    <img class="play-img" src="/img/how-to-play/play_3.jpg" srcset="/img/how-to-play/play_3.jpg 1x,
                    /img/how-to-play/play_3@2x.jpg 2x" alt="Complete Puzzle Objectives" width="245" height="209">
                        <div class="text-wrapper">
                            <p class="swiper-play-text">Complete Puzzle Objectives</p>
                        </div>
                    </li>
                    <li class="swiper-slide swiper-play-slide">
                    <span class="play-number">4</span>
                        <img class="play-img" src="/img/how-to-play/play_4.jpg" srcset="/img/how-to-play/play_4.jpg 1x,
                    /img/how-to-play/play_4@2x.jpg 2x" alt="Unlock New Fantasy Areas" width="245" height="209">

                        <div class="text-wrapper">
                            <p class="swiper-play-text">Unlock New<br/> Fantasy Areas</p>
                        </div>
                    </li>
                    <li class="swiper-slide swiper-play-slide">
                <span class="play-number">5</span>
                    <img class="play-img" src="/img/how-to-play/play_5.jpg" srcset="/img/how-to-play/play_5.jpg 1x,
                    /img/how-to-play/play_5@2x.jpg 2x" alt="Use Strategic Combo" width="245" height="209">
                        <div class="text-wrapper">
                            <p class="swiper-play-text">Use Strategic Combo</p>
                        </div>
                    </li>
                </ul>
                <div class="swiper-pagination" id="swiper-pagination"></div>
            </div>
    </div>
</section>