:root {
 --font-family: "Inter", sans-serif;
 --second-family: "Montserrat", sans-serif;
 --third-family: "Alexandria", sans-serif;
 --color: #fff;
 --color-backgraund: #5441A3;
 --color-backgraund-1: #913faf;
 --color-backgraund-2: #EBE0FF;
 --color-backgraund-3: #B334EE;
 --background: linear-gradient(180deg, #770e9d 0%, rgba(187, 19, 123, 0.97) 34.13%, rgba(32, 89, 189, 0.98) 62.02%, #bf31f2 100%);
}

.hide{
  display: none;

}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--color);

}
body[data-menu="open"]{
  overflow: hidden;
}
body[data-menu="open"] .mobile-menu {
  transform: translateX(0) scale(1);
  opacity: 1;
  pointer-events: auto;
}
