
.reviews-container {
  position: relative;
  text-align: center;
}

.reviews-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 28px;
}

.reviews-swiper {
  overflow: hidden;
  width: 100%;
}


.swiper-slide.reviews-swiper-slide {
  max-width: 254px;
  max-height: 153px;
  box-sizing: border-box;
  border: 0.5px solid #fff;
  border-radius: 24px;
  background-color: #ebe0ff;
  padding: 19px 12px 29px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 58px;
}

.reviews-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-icon {
  fill: #8040dc;
}

.reviews-name {
  font-size: 14px;
  color: #555;
}

.reviews-stars {
  padding-left: 53px;
  margin-bottom: 10px;
}

.reviews-stars svg {
  fill: #ffc700;
}

.reviews-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .reviews-title {
    font-size: 48px;
    margin-bottom: 45px;
  }

  .reviews-swiper {
    overflow: visible;
  }

  .swiper-reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-left: 0;
  }

  .swiper-slide.reviews-swiper-slide {
    margin-right: 0 !important;
    margin-bottom: 0;
  }

  #swiper-reviews-pagination {
    display: none;
  }
}
