.footer {
  background: linear-gradient(
    90deg,
    #b52cff 0%,
    #d64dff 50%,
    #b52cff 100%
  );
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 24px 23px 23px 18px;
}

.footer-link,
.footer-copy {
  font-size: 16px;
}

.footer-link:hover,
.footer-link:focus {
  opacity: 0.8;
  color: #8c1090;
}

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
    display: flex;
    padding: 64px 170px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 116px;
  }

  .footer-link,
  .footer-copy {
    font-size: 24px;
  }
}