.gallery {

  background-color: var(--color-backgraund-1);
}

.gallery-container{
  position: relative;
   text-align: center;
}

.gallery-title {
  font-size: 36px;
  margin-bottom: 32px;
}
.gallery-img{
  margin: 0 auto;
}
.gallery-swiper-wrapper .swiper-slide{
  margin-bottom: 48px;
}
.swiper-gallery-pagination{
  gap: 5px;
}
.swiper-gallery-pagination .swiper-pagination-bullet {
width: 10px;
height: 10px;
}
/* Desktop */

@media screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
    margin-bottom: 45px;
    }
 .gallery-swiper-wrapper{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
  }
.gallery-img {
  min-width: 245px;
}
.swiper-gallery-pagination {
  display: none;
}
}