.header{
  position: sticky;
  top:0;
  z-index: 100;
  background-color: var(--color-backgraund);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-list {
display: none;
}
.header-item:hover,
.header-item:focus{
  color: #8C1090;
  animation: scale 200ms ease-in-out infinite alternate;
    
}
.header-item:active{
  color: #5441A3;
  animation: scale 200ms ease-in-out infinite alternate;
}
.burger-icon{
 fill: currentColor;
}
.burger-icon:hover,
.burger-icon:focus {
  color: #8C1090;
  animation: scale 200ms ease-in-out infinite alternate;

}

.burger-icon:active {
  color: #5441A3;
  animation: scale 200ms ease-in-out infinite alternate;
}


[data-visible='close'] {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .header {
      padding: 0 100px;
  }
    .header-list {
      display: flex;
      gap: 36px
    }
    .burger-btn{
      display: none;
    }
}

