.hero {
    background-color: #A11CB6;
}
.hero-container {
padding: 0 0 23px;
}

.hero-img{
    margin-bottom: 8px;
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 8px 4px rgba(0, 0, 0, .8);
}

.hero-text {
    width: 260px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.google-img:hover,
.google-img:focus,
.google-img:active {
    animation: scale 200ms ease-in-out infinite alternate;
}

@media only screen and (min-width: 1440px) {
    .hero{
        background-image: url(/img/hero/hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-container{
        padding: 95px 0px 50px 100px;
    
    }
    .hero-wrapper{
        width: 602px;
        align-items: start;
        text-align: start;
    }
    .hero-img{
        display: none;
    }
    .hero-title{
        font-size: 72px;
        margin-bottom: 31px;  
    }
    .hero-text{
        margin-bottom: 31px;
        font-size: 40px;
        width: 550px;
    }
    .google-img{
        width: 308px;
        height: 107px;
    }
}
        
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero {
         background-image: url(/img/hero/hero@2x.jpg);
    }
}