.play {
    background-color: var(--color-backgraund-1);
}

.play-container {
   position: relative;
   text-align: center;
}

.play-title {
    font-size: 36px;
}

.swiper{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.play-number{
    display: none;
}
.swiper-slide.swiper-play-slide {
    position: relative;
    height: 402px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.play-img{
   border-radius: 13px;
   margin-bottom: 25px;
}

.text-wrapper{
    width: 245px;
    height: 55px;
    border: 0.5px solid #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.swiper-play-text {
    text-align: center;
}

.swiper-pagination {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: #ffffff;
}
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid #fff;
    background-color: transparent;
}

@media only screen and (min-width: 1440px) {
.play-container{
    flex-direction: row;
}
.play-title {
    font-size: 48px;
    margin-bottom: 40px;
}
.play-number{
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
background-color: var(--color-backgraund);
border: 1px solid #fff;
border-radius: 50%;
font-weight: 500;
font-size: 32px;
margin-bottom: 24px;
}
.swiper{
     overflow: visible;
        }
}