body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.policy-body{
  background: linear-gradient(180deg,
        #770e9d 0%,
        rgba(187, 19, 123, 0.97) 34.13%,
        rgba(32, 89, 189, 0.98) 62.02%,
        #bf31f2 100%);
}
.policy-container {
  margin: 0 auto;
  padding: 20px 16px 40px;
}

.main-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border: 1px solid #fff;
  border-radius: 12px;
  padding: 10px;
  max-width: 126px;
  height: 44px;

  margin-left: auto;
  margin-bottom: 40px;

  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.main-page-btn:hover,
.main-page-btn:focus{
   opacity: 0.8;
  color: #8c1090;
}
.policy-title {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 0.97;
  margin-bottom: 30px;
}

.policy-content {
  color: #fff;
}

.policy-content h2 {
  margin: 32px 0 16px;
  font-size: 24px;
  font-weight: 700;
}

.policy-content p {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.4;
}

.policy-body .footer-container {
  padding: 5px 23px 5px 24px;
  background-color: #913faf;
  height: 100%;
}
@media screen and (min-width: 1440px) {
  .policy-container {
    padding: 40px 80px;
  }

  .policy-content {
    max-width: 1241px;

  }

  .policy-title{
    margin-bottom: 55px;
     font-size: 48px;
     text-align: left;
     margin-top: 79px;
  }

  .policy-body .footer {
    height: 81px;
  }
  .policy-body .footer-container {
    padding: 26px 184px;
   
  }
}
 .bg-none .footer{
  background: none;
  background-color: #913faf;
}